/*CSS RESET*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*UTILITY CLASSES*/
:root{
  --clr-moderate-violet: hsl(263, 55%, 52%);
  --clr--dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-dark-blakish-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(0, 0%, 81%);
  --clr-light-gray-blue: hsl(210, 46%, 95%);
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.text-black {
  color: black;
}
.text-white {
  color: white;
}

.text-gray {
  color: var(--clr-light-gray);
}

.text-dark-gray {
  color: rgb(127, 124, 124);
}

/* GENERAL STYLING*/

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-light-gray-blue);
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 1rem;
  max-width: 80rem;
}

.testimonial {
  border-radius: 10px;
  padding: 1.5rem 1.7rem;
}

.daniel {
  grid-column: span 2;
  background-color: var(--clr-moderate-violet);
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 80% 0%;
}

.jonathan {
  background-color: var(--clr--dark-grayish-blue);
}

.kira {
  grid-row: span 2;
  background-color: var(--clr-white);
}

.patrick {
  grid-column: 2 / span 2;
  grid-row: 2;
  background-color: var(--clr-dark-blakish-blue);
}

.jeanette {
  grid-row: 2;
  background-color: var(--clr-white);
}

.profile-pic {
  border-radius: 50%;
  float: left;
  border: 2px solid var(--clr-moderate-violet);
  height: 4rem;
  position: relative;
  bottom: .8rem;
}

.name {
  line-height: 1;
  margin-left: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.verified {
  margin-left: 5rem;
  margin-bottom: 2rem;
  opacity: 50%;
  font-weight: 500;
  font-size: 1rem;
}

.bold-testimonial {
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 2rem;
}


.description {
  font-size: 1rem;
  font-weight: 500;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 700px) {
  .grid {
    display: block;
  }

.testimonial{
  margin-bottom: 2rem;
}
}